.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  border: 5px solid rgb(42, 43, 44);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  font-weight: bolder;
  color: rgb(192, 192, 192);
}